h1 {
    text-align: center;
}

.center-div {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.result {
    color: brown;
}

.btn-align {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.save-div {
    position:absolute;
    width: 70%;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}